@import 'tailwindcss';

.main-container {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

.menu-container {
  display: flex;
  justify-content: space-evenly;
}

.menu-container button {
  height: fit-content;
  align-self: flex-end;
  white-space: nowrap;
  min-width: 60px;
}

.chart-container {
  padding-top: 20px;
  margin: auto;
  text-align: center;
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

body {
  padding: 0;
  margin: 0;
  
}